<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PL_Logging" type="PacificLife.Life.Enterprise.Configuration.PLRawCustomConfigArea+Loader,PLEnterprise" />
    <section name="GlobalServices" type="PacificLife.Life.Enterprise.Configuration.PLRawCustomConfigArea+Loader,PLEnterprise" />
    <section name="InternalLogger" type="PacificLife.Life.Enterprise.Configuration.PLRawCustomConfigArea+Loader,PLEnterprise" />
  </configSections>
  <PL_Logging threading="pl_pooled">
    <StackWriteThreshold>Error</StackWriteThreshold>
    <LogListener object="PacificLife.Life.Enterprise.Log.LogListenerGenericFile" assembly="PLEnterprise" writeThreshold="Verbose" ignoreForce="False">
      <Parameter name="filename">C:\SMARTS_Excel.txt</Parameter>
    </LogListener>
    <PLQConfig maxThreads="2" sleepDuration="50" death="50" />
  </PL_Logging>
  <GlobalServices>
    <Server>lifeeai603</Server>
    <!--
    <Server>lifeweb40</Server>
    -->
    <Error>
      <DownloadAll>True</DownloadAll>
    </Error>
    <SecuredRepository>
      <!--
      Secured Repository Overrides
      -->
      <!--
      Home
      -->
      <!--<SMARTS>server=trinity;database=smartdiagramming;Integrated Security=SSPI;;</SMARTS>-->
      <!--
      Development
      -->
      <!--<SMARTS>server=a097805c3p;database=smartdiagramming;Integrated Security=SSPI;;</SMARTS>-->
      <!--
      Test
      -->
      <!--<SMARTS>server=lifeeai603;database=smartdiagramming;Integrated Security=SSPI;;</SMARTS>-->
      <!--
      Production
      -->
      <!--<SMARTS>server=lifeeai603;database=smartdiagramming;Integrated Security=SSPI;;</SMARTS>-->  		
    </SecuredRepository>   
  </GlobalServices>
</configuration>