<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <configSections>   

      <section name="GlobalServices" type="PacificLife.Life.Enterprise.Configuration.PLRawCustomConfigArea+Loader,PLEnterprise" />

   </configSections>

      <GlobalServices><Server>LIFEEAI603</Server></GlobalServices>

</configuration>
